# python
_pycache_/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual environment
.venv/
.venv
env/

# Environment variabled
.env
.env.*

#Keep example env file
!.env.example

# Reports
allure-results/
allure-report/
html-report/
pytest-report.html

# Test artifacts
artifacts/screenshots/*
artifacts/traces/*
artifacts/videos/*
test-results/
playwrigt-report/

# IDE
.idea
.vscode/

# OS
.DS_ store
Thumbs.db

# Logs
*.log
logs/

